/* Estilos relacionados ao rodape */

footer {
    text-align: center;
    border-top: 1px solid #f0f5ff;
    padding: 20px;
    width: 75%;
    margin: auto;
    text-transform: lowercase;
}

footer section span:first-child {
    color: #5e49ff;
}

footer section span:last-child {
    color: #3bd42d;
}